# Зависимости
node_modules/

# Локальные настройки и секреты
.env
*.env.local
server/.env


# Логи и сборка
server/logs/
server/dist/
*.log

# IDE
.idea/
.vscode/
*.swp

supabase_setup.sql

client/.firebaserc
client/dist/
server/sessions/

sessions/
